<ion-header no-border>
    <ion-toolbar transparent style="background-color: rgb(255, 255, 255, 1.0);">
        <ion-buttons start>
        <button ion-button (click)="dismiss()">
            <!-- <span ion-text color="primary" showWhen="ios">Cancel</span> -->
            <!-- <ion-icon name="md-close" showWhen="android,windows"></ion-icon> -->
            <ion-icon name="md-close" large></ion-icon>
        </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-segment [(ngModel)]="actionType" color="secondary" (ionChange)="onSegmentChanged($event)">
        <ion-segment-button value="signIn">
            {{'Log In' | translate }}
        </ion-segment-button>
        <ion-segment-button value="signUp">
            {{'Create Account' | translate}}
        </ion-segment-button>
    </ion-segment> -->
    
    <div *ngIf="actionType=='signIn'">
        <div class="valaxing_btn_container">
            <ion-button expand="block" class="loginBtn loginBtn--facebook" (click)="facebookLogin();">
                {{'Log in with Facebook' | translate}}
            </ion-button>
        </div>
        <br />
        <div style="text-align: center;">{{'Or'| translate}}</div>
        <br />
        <div class="input_btn_container" style="padding-top:5px;">
            <!-- <input [(ngModel)]="loginEmail" class="input_box" type=text placeholder="{{'Email' | translate}}"> -->
        </div>
        <div class="input_btn_container">
            <!-- <input [(ngModel)]="loginPw" class="input_box" type=password placeholder="{{'Password' | translate}}"> -->
        </div>
        <div class="input_btn_container" style="text-align: center;">
            <button class="button_style" (click)="login()">{{'Log In' | translate}}</button>
        </div>
        <!-- <button ion-item (click)="presentLoadingBubbles()">
            <ion-spinner item-start name="bubbles"></ion-spinner>
            Show Bubbles
        </button> -->
    </div>

    <div *ngIf="actionType=='signUp'">
        <form  *ngIf="newUser"  (ngSubmit)="signup()">
        <!-- <form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()"> -->
            <div class="input_btn_container" style="padding-top:15px;">
                <input class="input_box" type="email" placeholder="{{'Email' | translate}}" formControlName="email" required>
                <div class="error_style" *ngIf="formErrors.email">
                    {{ formErrors.email }}
                </div>
            </div>
            
            <div class="input_btn_container">
                <input class="input_box" type="password" placeholder="{{'Password' | translate}}" formControlName="password" required>
                <div class="error_style" *ngIf="formErrors.password">
                    {{ formErrors.password }}
                </div>
            </div>
            
            <div class="input_btn_container" style="text-align: center;">
                <!-- <button class="button_style" type="submit" [disabled]="!userForm.valid">{{'Create Account' | translate}}</button> -->
            </div>
            <!-- <span *ngIf="userForm.valid" >Form is valid</span> -->
          
          </form>
    </div>
</ion-content>