<ion-header>
  <ion-toolbar>
    <ion-title>
      {{pageHeader}}
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar 
    [placeholder]="searchbarPlaceholder"
    [(ngModel)]="searchbarInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let group of groups" (click)="openGroup(group)">
      <ion-label>
        {{group}}
      </ion-label>
        <!-- <div>{{group}}</div> -->
    </ion-item>
  </ion-list>
</ion-content>
