<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="userId!=null">
     
    </div>
    <div class="btn_container" *ngIf="userId==null">
        <ion-button expand="block" (click)="openLogInPage()">Login With POG Account</ion-button>
    </div>
    <div class="btn_container" *ngIf="userId!=null">
      <ion-button expand="block" (click)="signOut()">{{'Sign Out' | translate}}</ion-button>
  </div>
</ion-content>
